<h2 style="text-align:center;"><span class="highlight">Welcome to <%= current_user.username %> Collect It Dashboard</span></h2>
<% if current_user %>
  <%= form_with url: user_dashboard_search_path(@user), method: :get, local: true do |form| %>
    <%= form.text_field :query, placeholder: "Search Comics" %>
    <%= form.submit 'Find Comics' %>
  <% end %>
  <%= link_to 'Log Out', logout_path, method: :post %>
<% end %>

