<h2>Search Comics</h2>
<%= form_with url: search_comics_post_path, method: :post, local: true do |form| %>
  <%= form.text_field :query, placeholder: "Search Comics" %>
  <%= form.submit 'Find Comics' %>
<% end %>

<h2>Search Results</h2>

<% if @comics.present? %>
  <ul>
    <% @comics.each do |comic| %>
      <li>
        <% if comic.image_url.present? %>
          <%= image_tag comic.image_url %>
        <% else %>
          <p>No image available</p>
        <% end %>
        <div>
          <strong><%= comic.title %></strong> - <%= comic.issue %> - <%= comic.publisher %>
          <form action="<%= add_to_collection_comic_path(user_id: current_user.id, id: comic.id) %>" method="post">
            <%= button_to 'Add to Collection', add_to_collection_comic_path(id: comic.id), method: :post %>
          </form>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
