<h2>Search Comics</h2>
<%= form_with url: search_user_comics_user_comics_path(current_user.id), method: :get, local: true do |form| %>
  <%= form.text_field :query, placeholder: "Search Comics" %>
  <%= form.submit 'Find Comics' %>
<% end %>





<h2>Search Results</h2>

<% if @comics.present? %>
  <ul>
    <% @comics.each do |comic| %>
      <li>
        <%= image_tag comic.image_url %>
        <div>
  <strong><%= comic.name %></strong> - <%= comic.issue_number %> - <%= comic.publisher %>
<form action="<%= add_to_collection_user_comic_path(current_user, comic) %>" method="post">
  <%= button_tag 'Add to Collection', type: 'submit' %>
</form>
</div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
