<html>
<head>
<style>
div { 
  background-color: lightgrey;
  width: 300px;
  border: 15px solid purple;
  padding: 50px;
  margin: auto;
}
</style>
</head>
<body>
<center>
<div>
<h4>Welcome to Collect It</h4>
</div>
</center>

<% if session[:user_id] %>
  <%= link_to "Log Out", "/logout" %>

  <div id='users'>
    <h2>Existing Users:</h2>
    <ul>
      <% @users.each do |user| %>
        <li><b>Name:</b> <%= user.username %><br><b>Email:</b> <%= user.email %> </li><br>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= button_to "Create A New User", register_path, method: :get %>
  <%= button_to "Log In", "/login" %>
<% end %>
</html>