<!DOCTYPE html>
<html>
  <head>
    <title>CollectIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
   
     <%= button_to 'Home', '/' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div id="flash-messages">
        <%= msg %>
      </div>
    <% end %>
    <h1 style="text-align:center;">Collect It</h1>
    <%= yield %>
  </body>
</html>
